<!DOCTYPE html>
<html>
   <head>
      <title>Add Projects</title>
   </head>
   <body>
      <h3>Projects form</h3>
      <form action="/add" method="POST">
         <label>Project Title</label>
         <input type="text" name="project_title" placeholder="project title...">
         <label>Tools & Technology</label>
         <input type="text" name= "tools_technology" placeholder="tools & technology...">
         <label>Project Description</label>
         <input type="text" name="project_descr" placeholder="project description..">
         <button type="submit">Add</button>
      </form>
   </body>
</html>