<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
   </head>
   <body>
      <h3>Projects</h3>
      <a href="/add_data">ADD</a>
      <br>
      <table>
         <thead>
            <th>Id</th>
            <th>Project Title</th>
            <th>Tools and Technology</th>
            <th>Project Description</th>
            <th>#</th>
         </thead>
         {% for data in projects %}
         <tbody>
            <td>{{data.id}}</td>
            <td>{{data.project_title}}</td>
            <td>{{data.tools_technology}}</td>
            <td>{{data.project_descr}}</td>
            <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
         </tbody>
         {% endfor%}
      </table>
   </body>
</html>